// main: ../style.less

.about{
    margin: 126px 0;
}

.about__inner{
    display: flex;
    max-width: 1100px;
}

.about__content{
    margin-top: 30px;
    width: 60%;
    padding-right: 68px;
}

.about__title{
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 700;
    color: @white;
}

.about__bigtitle{
    margin: 0 20px 0 0;
    position: relative;
    left: -10px;
    font-size: 92px;
    font-weight: 700;
    color: rgba(@gray,1);
    filter: drop-shadow(0 0 15px @black) saturate(1) blur(0px);
    text-transform: uppercase;

    &:before {  
        transform: scaleX(0);
        transform-origin: bottom left;
      }
      
      &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
        filter: drop-shadow(0 0 60px @orange) saturate(1) blur(2px);
      }
      
      &:before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: @orange;
        border: solid 1px @orange;
        border-radius: 10px;
        z-index: -1;
        filter: drop-shadow(0 0 0 @orange) saturate(1) blur(2px);
        transition: transform .3s ease, filter .3s ease;
        
      }
}

.about__text{
    font-size: 12;
    font-weight: 200;
    line-height: 1.8;
    color: @gray-light;
    padding: 0 0;
    margin-bottom: 40px;
}

.about__photo{
    align-self: center;
    width: 40%;
    border-radius: 5px;
    filter: drop-shadow(0 0 0 @black) saturate(0) blur(0.5em);
    transition: all 1.5s linear 50ms;
    img{
        border-radius: 5px;
    }
    &:hover {
        filter: drop-shadow(0 0 150px @black) saturate(0) blur(0em);
        transition: all .2s linear 50ms;
        
    }
}