// main: ../style.less

.about{
    margin: 126px 0;
}

.about__inner{
    display: flex;
    max-width: 1100px;
}

.about__content{
    margin-top: 30px;
    width: 50%;
    padding-right: 48px;
}

.about__title{
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 700;
    color: @white;
}

.about__bigtitle{
    margin: 0 20px 0 0;
    position: relative;
    left: -10px;
    font-size: 92px;
    font-weight: 700;
    color: rgba(@gray-light,0.7);
}

.about__text{
    font-size: 12;
    font-weight: 200;
    line-height: 1.8;
    color: @gray-light;
    padding: 0 0;
    margin-bottom: 40px;
}

.about__photo{
    width: 50%;
}