// main: ../style.less

.intro__inner{
    display: flex;
    border-bottom: 1px solid rgba(@gray-light, 0.4);
    padding-top: 100px;
    padding-bottom: 120px;
}
.intro__content{
    width: 35%;
    text-align: center;
}
.intro__suptitle{
    font-size: 25px;
    font-weight: 200;
    color: rgba(@gray-light, 0.7);
    margin: 0 0;
    
}

.intro__title{
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 700;
    color: @gray-light;
    margin: 0 0;
}

.intro__text{
    margin-bottom: 25px;
    
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 200;
    color: rgba(@green, 0.7);
    &--shine {
        text-shadow: 0 0px 10px transparent;
        transition: text-shadow .25s linear;
        &:hover{
            text-shadow: 0 0px 20px @green;
        }
    }

}

.intro__photo{
    width: 65%;
}
