// main: style.less

@gray:#343334;
@gray-dark:#242424;
@gray-light: #8d8d8e;
@black-light: #2b2a2c;
@black:#000;
@white: #fff;
@green:#09ff00;
@orange:rgb(238,81,0);
@blue:#0089ff;
@pink:#9735fd;
@features-light-gray:rgb(47, 47, 47);
@features-dark-gray:rgb(25, 25, 25);
@reviews-light-gray:rgb(65, 65, 65);
@reviews-dark-gray:rgb(10, 10, 10);
