// compress: true

html {
    font-size: 15px;

    background-color: @gray-dark;

}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: @gray;
    font-size: 1rem;

    &.no-scroll {
        overflow: hidden;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



/*Blocks*/
@import "blocks/preloader.less";
@import "blocks/containter.less";
@import "blocks/header.less";
@import "blocks/user.less";
@import "blocks/nav.less";
@import "blocks/intro.less";
@import "blocks/social.less";
@import "blocks/btn.less";
@import "blocks/about.less";
@import "blocks/features.less";
@import "blocks/reviews.less";
@import "blocks/works.less";
@import "blocks/portfolio.less";
@import "blocks/contact.less";
@import "blocks/footer.less";
@import "blocks/modal.less";
@import "blocks/modal__contact.less";
@import "blocks/form.less";
@import "blocks/timeline.less";
@import "blocks/progress-bar.less";
@import "blocks/media_responsive.less";




/*Helpers*/
@import "vars";
@import "helper";
